{%extends "GoldenCageBackOfficeBundle::layoutadmin.html.twig"%}
{%block Content%}
<div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Les Comptes Admin</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th> Compte N° </th>
                    <th> Login</th>
                    <th> Mot de passe </th>
                    <th> Statut</th>
                    
                    <th class="td-actions"> </th>
                  </tr>
                </thead>
                <tbody>
                  {%for o in com%}
                    
                        <tr>
                          <td> {{o.getIdcompte()}} </td>
                          <td> {{o.getLogin()}} </td>
                          <td> **************** </td>
                          <td> {{o.getStatut()}} </td>
                          
                          <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                         </tr>
                      
                    {%endfor%}
                </tbody>
              </table>
            </div>
            <!-- /widget-content --> 
          </div>
{%endblock %}